body{
  margin: 0;
  color: #fff;
}
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  text-align: center;
}

body::before{
  content: '';
  position: fixed; /* Фиксируем на одном месте */
  left: 0; right: 0; /* Вся ширин */
  top: 0; bottom: 0; /* Вся высота */
  z-index: -1; /* Фон ниже текста */
  /* Параметры фона */
  background: url(wallpapersden.com_game-red-dead-redemption-2_3840x2160.jpg) center / cover no-repeat;
  filter: blur(25px); /* Размытие */
  transform: scale(1.1);
}
.block{
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 75vh;
  margin: 0 auto;
  margin-top: 7vh;
  background-image: linear-gradient(to bottom right, rgba(219, 22, 29, 0.85), rgba(239, 125, 41, 0.85));
}
#img_pers{
  object-fit: cover;
  height: 70%;
  padding-top: 10%;
}
form{
  width: 70%;
}
input[type="text"],
 input[type="date"],
  input[type="email"],
   input[type="number"],
    select{
  background-image: linear-gradient(to bottom right, rgba(219, 22, 29, 0.85), rgba(239, 125, 41, 0.85));
  padding: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  width: 55%;
  border: none;
  color: #fff;
}
input[type="radio"]{
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
select option{
  color: black;
}
input::placeholder{
  color: rgba(255, 255, 255, 0.615);
}
.label1{
  display: inline-block;
  font-size: 25px;
  width: 150px;
  margin-bottom: 15px;
}
.label2{
  display: inline-block;
  font-size: 25px;
  width: auto;
}
